<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Rebex.Common" version="6.0.8181" targetFramework="net472" />
  <package id="Rebex.Networking" version="6.0.8181" targetFramework="net472" />
  <package id="Rebex.Telnet" version="6.0.8181" targetFramework="net472" />
  <package id="Rebex.Terminal" version="6.0.8181" targetFramework="net472" />
  <package id="Telnet" version="0.8.6" targetFramework="net472" />
</packages>